* {
  box-sizing: border-box;
}

html {
  font-family: "Nunito Sans", sans-serif;
}

html,
body {
  height: 100%;
  background-color: #f3eec3;
}

body {
  padding: 1rem;
}

/* body > * {
  margin: 1rem;
} */

h1 {
  text-align: center;
}

a:hover,
a:active,
a {
  text-decoration: none;
}

a:hover,
button:hover {
  cursor: pointer;
}

a:visited {
  color: inherit;
}

pre {
  overflow: scroll;
}

.chart-container {
  position: relative;
  /* height: 100%; */
  width: 100%;
  max-width: 1000px;
  display: none;
}

.flex-container {
  display: flex;
}

.justify-center {
  justify-content: center;
}

button {
  padding: 1rem 2rem;
  color: white;
  background-color: #88527f;
  border-radius: 0;
  border: 0;
  font-family: inherit;
  text-transform: uppercase;
  margin: 1rem;
}

button:hover {
  background-color: #3e243a;
}

button.toggle.toggled {
  background-color: "#17C3B2";
}

.flex-column {
  flex-direction: column;
}

.full-height {
  height: 100%;
}

.fill-rest {
  flex: 1;
}

.p-relative {
  position: relative;
}

.card {
  padding: 1rem;
  border-radius: 5px;
  background-color: white;
}
